<%- include('../partials/head.ejs') %>

  <main class="__dashboard container-fluid">

    <h1>Hi <%=user.firstname%></h1>

    <h2>Gegevens beheren</h2>
      <p>We beginnen nu met het vullen van het portfolio met jouw eigen gegevens.</p>
      <form method="post">
        <div class="form-group">
          <label for="name">Naam</label>
          <input type="text" class="form-control" id="name" name="name" value="<%=user.firstname%> <%=user.lastname%>" placeholder="Vul je naam in" required>
        </div>
        <div class="form-group">
          <label for="mail">E-mailadres</label>
          <input type="mail" class="form-control" id="mail" name="mail" value="<%=user.mail%>" required disabled>
        </div>
        <div class="form-group">
          <label for="about">Over mij tekst</label>
          <textarea class="form-control" id="about" name="about" rows="4" value="<%=user.about%>" placeholder="Schrijf hier iets over jezelf"></textarea>
        </div>
        <div class="form-group">
          <label for="linkedin">Linkedin adres</label>
          <input type="text" class="form-control" id="linkedin" name="linkedin" value="<%=user.linkedin%>" placeholder="Voer je Linkedin adres in">
        </div>
        <div class="form-group">
          <label for="skills">Skills</label><br/>
          <p class="subtext">Vul hier je skills in, bijvoorbeeld programmeertalen die je beheerst.</p>
          <input type="text" data-role="tagsinput" name="skills" value="<%=user.skills%>" class="form-control" id="skills">
        </div>
        <input type="submit" value="Verstuur" class="btn btn-primary" />
      </form>

  </main>

<%- include('../partials/foot.ejs') %>
<script src="/js/plugins/bootstrap-tagsinput.js" type="text/javascript"></script>
