<%- include('../../partials/head.ejs') %>

  <main class="__dashboard container-fluid">

    <h1>Hi <%=user.firstname%></h1>

    <p>Op deze pagina kun je al jouw projecten beheren en nieuwe toevoegen</p>

    <h2>Jouw projecten</h2>

    <% if(projects.length == 0) { %>
      <p>Je hebt nog geen projecten aangemaakt.</p>
      <a href="/dashboard/projects/add" class="__button btn btn-primary">Maak je eerste project</a>
    <% } else { %>

    <div class="card-deck">
      <% projects.forEach(function(project) { %>
        <div class="card __project_card">
          <img class="card-img-top" src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_522cb8dbbe680_1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <p class="card-text"><%= project.description %></p>
          </div>
        </div>
      <% }); %>
    </div>
    <a href="/dashboard/projects/add" class="__button btn_projects btn btn-primary">Project toevoegen</a>

    <% } %>

  </main>

<%- include('../../partials/foot.ejs') %>
